<% if current_user %>
  <form method="post" action="/">
    <input type="text" name="body" placeholder="Enter post text here">
    <input id="submit" type="submit" value="Post">
  </form>
<% end %>


<% if Post.count < 1 %>
  <li class='post'>
    <div class='description'>
      There are no posts here. Sign in to add a post.
    </div>
  </li>
<% else %>
  <div id='posts-container'>
    <ul id='posts'>
      <% @posts.reverse.each do |post| %>
        <%= partial :post, :locals => {:post => post}  %>
      <% end %>
    </ul>
  </div>
<% end %>
