<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>

  </head>
  <body>

  <header>
    <nav>
    <h1> Chitter </h1>

      <a href="/users/new">Sign Up</a>
    
    </nav>

  </header>

  <% if flash[:errors] && !flash[:errors].empty? %>
    Sorry, there were the following problems with the form.
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= yield %>

  </body>
</html>
