  <!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/application.css">

  </head>
  <body>

  <header>
    <h1> Chitter </h1>
      <nav>
      <ul>
      <% if current_user %>
        <li class="welcome">Welcome, <%= current_user.username %></li>
          <form method="post" action="/sessions">
            <input type="hidden" name="_method" value="delete">
        <li><input id="submit" type="submit" value="Sign Out"></li>
          </form><% end %>

        <form method="get" action="/users/new">
        <li><input id="submit" type="submit" value="Sign Up"></li></form>
        <% if !current_user %>
          <form method="get" action="/sessions/new">
        <li><input id="submit" type="submit" value="Sign In"></li></form><% end %>
      </ul>  
    </nav>

  </header>

  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:errors] && !flash[:errors].empty? %>
    Sorry, there were the following problems with the form.
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <section>
    <%= yield %>
  </section>
  </body>
</html>
